<!DOCTYPE html>
<html>
	<head>
		<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
		<base href="http://{{ host }}" />
		<title>{{ brand }} - API</title>
		<link rel="icon" href="{{url_for('static', filename='image/logo.jpg')}}" />
		<link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.1/css/bootstrap.min.css">
		<link rel="stylesheet" href="{{url_for('static', filename='css/v1.css')}}">
	</head>
	<body data-spy="scroll" data-target="#scroll">
		<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
			<div class="container-fluid">
				<div class="navbar-header">
					<a class="navbar-brand" href="/">{{ brand }} API {{ version }}</a>
				</div>
			</div>
		</nav>
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-3 col-md-2 sidebar" id="scroll">
					<ul class="nav nav-sidebar" id="nav">
						<li class="active"><a href="#search">/search</a></li>
						<li><a href="#songs">/songs/[ids]</a></li>
						<li><a href="#albums">/albums/&lt;id&gt;</a></li>
						<li><a href="#artists">/artists/&lt;id&gt;</a></li>
						<li><a href="#playlists">/playlists/&lt;id&gt;</a></li>
						<li><a href="#lyrics">/lyrics/&lt;id&gt;</a></li>
						<li><a href="#toplists">/toplists/&lt;id&gt;</a></li>
						<li><a href="#explore-playlists">/explore/playlists/&lt;cat&gt;</a></li>
						<hr>
						<li><a href="#people">/people</a></li>
						<li><a href="#people-id">/people/&lt;id&gt;</a></li>
						<li><a href="#people-activation">/people/&lt;id&gt;/activation</a></li>
						<li><a href="#oauth2-tokens">/oauth2/tokens</a></li>
						<hr>
						<li><a href="#people-id-valid">/people/&lt;id&gt;/valid</a></li>
						<li><a href="#people-id-detail">/people/&lt;id&gt;/detail</a></li>
						<li><a href="#people-id-player">/people/&lt;id&gt;/player</a></li>
						<li><a href="#people-id-player-playlist">/people/&lt;id&gt;/player/playlist</a></li>
						<li><a href="#people-id-player-playlist-sid">/people/&lt;id&gt;/player/playlist/&lt;sid&gt;</a></li>
					</ul>
				</div>
				<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
					<section id="search" class="anchor">
						<h1 class="page-header">/search</h1>
						<h4>Definition</h4>
						<p><b>GET</b> http://{{ host }}/{{ version }}/search</p>
						<p><i>Search people, song, album, artist, playlist and lyric.</i></p>
						<h4 class="child-header">Arguments</h4>
						<table class="table table-condensed">
							<tbody>
								<tr>
									<td width="200">s</td>
									<td>The query content.</td>
								</tr>
								<tr>
									<td>t</td>
									<td>
										<table>
											<tr>
												<td>0</td>
												<td width="15"></td>
												<td>people</td>
											</tr>
											<tr>
												<td>1</td>
												<td></td>
												<td>song</td>
											</tr>
											<tr>
												<td>10</td>
												<td></td>
												<td>album</td>
											</tr>
											<tr>
												<td>100</td>
												<td></td>
												<td>artist</td>
											</tr>
											<tr>
												<td>1000</td>
												<td></td>
												<td>playlist</td>
											</tr>
											<tr>
												<td>1006</td>
												<td></td>
												<td>lyric</td>
											</tr>
										</table>
									</td>
								</tr>
								<tr>
									<td>offset</td>
									<td>default={{ offset }}</td>
								</tr>
								<tr>
									<td>limit</td>
									<td>default={{ limit }}</td>
								</tr>
							</tbody>
						</table>
						<h4 class="child-header">Examples</h4>
						<ul>
							<li><a target="_blank" href="/{{ version }}/search?s=陈奕迅&t=1"><i>http://{{ host }}/{{ version }}/search?s=陈奕迅&t=1</i></a></li>
							<li><a target="_blank" href="/{{ version }}/search?s=陈奕迅&t=10"><i>http://{{ host }}/{{ version }}/search?s=陈奕迅&t=10</i></a></li>
							<li><a target="_blank" href="/{{ version }}/search?s=陈奕迅&t=100"><i>http://{{ host }}/{{ version }}/search?s=陈奕迅&t=100</i></a></li>
							<li><a target="_blank" href="/{{ version }}/search?s=陈奕迅&t=1000"><i>http://{{ host }}/{{ version }}/search?s=陈奕迅&t=1000</i></a></li>
							<li><a target="_blank" href="/{{ version }}/search?s=陈奕迅&t=1006"><i>http://{{ host }}/{{ version }}/search?s=陈奕迅&t=1006</i></a></li>
							<li><a target="_blank" href="/{{ version }}/search?s=zhao&t=0"><i>http://{{ host }}/{{ version }}/search?s=zhao&t=0</i></a></li>
						</ul>
						<br><br>
					</section>
					<section id="songs" class="anchor">
						<h1 class="page-header">/songs/[ids]</h1>
						<h4>Definition</h4>
						<p><b>GET</b> http://{{ host }}/{{ version }}/songs/&lt;ids&gt;</p>
						<p><i>Return a specified song. (ids split with comma)</i></p>
						<h4 class="child-header">Examples</h4>
						<ul>
							<li><a target="_blank" href="/{{ version }}/songs/29713754,28793502"><i>http://{{ host }}/{{ version }}/songs/29713754,28793502</i></a></li>
						</ul>
						<br><br>
					</section>
					<section id="albums" class="anchor">
						<h1 class="page-header">/albums/&lt;id&gt;</h1>
						<h4>Definition</h4>
						<p><b>GET</b> http://{{ host }}/{{ version }}/albums/&lt;id&gt;</p>
						<p><i>Return a specified album.</i></p>
						<h4 class="child-header">Examples</h4>
						<ul>
							<li><a target="_blank" href="/{{ version }}/albums/10818"><i>http://{{ host }}/{{ version }}/albums/10818</i></a></li>
						</ul>
						<br><br>
					</section>
					<section id="artists" class="anchor">
						<h1 class="page-header">/artists/&lt;id&gt;</h1>
						<h4>Definition</h4>
						<p><b>GET</b> http://{{ host }}/{{ version }}/artists/&lt;id&gt;</p>
						<p><i>Return a specified artist.</i></p>
						<h4 class="child-header">Examples</h4>
						<ul>
							<li><a target="_blank" href="/{{ version }}/artists/3686"><i>http://{{ host }}/{{ version }}/artists/3686</i></a></li>
						</ul>
						<br><br>
					</section>
					<section id="playlists" class="anchor">
						<h1 class="page-header">/playlists/&lt;id&gt;</h1>
						<h4>Definition</h4>
						<p><b>GET</b> http://{{ host }}/{{ version }}/playlists/&lt;id&gt;</p>
						<p><i>Return a specified playlist.</i></p>
						<h4 class="child-header">Examples</h4>
						<ul>
							<li><a target="_blank" href="/{{ version }}/playlists/2294307"><i>http://{{ host }}/{{ version }}/playlists/2294307</i></a></li>
						</ul>
						<br><br>
					</section>
					<section id="lyrics" class="anchor">
						<h1 class="page-header">/lyrics/&lt;id&gt;</h1>
						<h4>Definition</h4>
						<p><b>GET</b> http://{{ host }}/{{ version }}/lyrics/&lt;id&gt;</p>
						<p><i>Return a specified lyric.</i></p>
						<h4 class="child-header">Examples</h4>
						<ul>
							<li><a target="_blank" href="/{{ version }}/lyrics/108933"><i>http://{{ host }}/{{ version }}/lyrics/108933</i></a></li>
						</ul>
						<br><br>
					</section>
					<section id="toplists" class="anchor">
						<h1 class="page-header">/toplists/&lt;id&gt;</h1>
						<h4>Definition</h4>
						<p><b>GET</b> http://{{ host }}/{{ version }}/toplists/&lt;id&gt;</p>
						<p><i>Return a specified toplist.</i></p>
						<h4 class="child-header">Examples</h4>
						<ul>
							<li><a target="_blank" href="/{{ version }}/toplists/3778678"><i>http://{{ host }}/{{ version }}/toplists/3778678</i></a></li>
						</ul>
						<br><br>
					</section>
					<section id="explore-playlists" class="anchor">
						<h1 class="page-header">/explore/playlists/&lt;cat&gt;</h1>
						<h4>Definition</h4>
						<p><b>GET</b> http://{{ host }}/{{ version }}/explore/playlists/&lt;cat&gt;</p>
						<p><i>Explore playlist by category.</i></p>
						<h4 class="child-header">Arguments</h4>
						<table class="table table-condensed">
							<tbody>
								<tr>
									<td width="200">cat</td>
									<td>
										<table>
											<tr valign="top">
												<td width="50">语种：</td>
												<td>华语、欧美、日语、韩语、粤语、小语种</td>
											</tr>
											<tr valign="top">
												<td>场景：</td>
												<td>清晨、黄昏、夜晚、学习、工作、午休、下午茶、地铁、驾车、运动、缠绵、聚会、度假、旅行、散步、校园、酒吧</td>
											</tr>
											<tr valign="top">
												<td>风格：</td>
												<td>流行、摇滚、民谣、电子、说唱、轻音乐、爵士、乡村、R&B/Soul、古典、民族、英伦、金属、朋克、蓝调、原声、雷鬼、世界音乐、拉丁、另类/独立、动漫、New Age、古风、Bossa Nova</td>
											</tr>
											<tr valign="top">
												<td>情感：</td>
												<td>怀旧、清新、浪漫、性感、伤感、治愈、放松、悲伤、温暖、孤独、感动、兴奋、快乐、安静、思念</td>
											</tr>
											<tr valign="top">
												<td>主题：</td>
												<td>游戏、70后、80后、90后、网络歌曲、KTV、经典、翻唱、吉他、钢琴、器乐、儿童、榜单、对唱、00后</td>
											</tr>
										</table>
									</td>
								</tr>
								<tr>
									<td>offset</td>
									<td>default = {{ offset }}</td>
								</tr>
								<tr>
									<td>limit</td>
									<td>default = 35</td>
								</tr>
							</tbody>
						</table>
						<h4 class="child-header">Examples</h4>
						<ul>
							<li><a target="_blank" href="/{{ version }}/explore/playlists/民谣"><i>http://{{ host }}/{{ version }}/explore/playlists/民谣</i></a></li>
							<li><a target="_blank" href="/{{ version }}/explore/playlists/思念"><i>http://{{ host }}/{{ version }}/explore/playlists/思念</i></a></li>
						</ul>
						<br><br>
					</section>
					<section id="people" class="anchor">
						<h1 class="page-header">/people</h1>
						<h4>Definition</h4>
						<p><b>POST</b> http://{{ host }}/{{ version }}/people</p>
						<p><i>New people sign up which will send an email notification.</i></p>
						<h4 class="child-header">Arguments</h4>
						<table class="table table-condensed">
							<tbody>
								<tr>
									<td width="200">id</td>
									<td>People id</td>
								</tr>
								<tr>
									<td>name</td>
									<td>People name.</td>
								</tr>
								<tr>
									<td>email</td>
									<td>People email</td>
								</tr>
								<tr>
									<td>password</td>
									<td>People password</td>
								</tr>
							</tbody>
						</table>
						<h4 class="child-header">Return</h4>
						<table class="table table-condensed">
							<tbody>
								<tr>
									<td width="200">ret</td>
									<td>
										<table>
											<tr>
												<td>0</td>
												<td width="15"></td>
												<td>fail</td>
											</tr>
											<tr>
												<td>1</td>
												<td></td>
												<td>success</td>
											</tr>
										</table>
									</td>
								</tr>
							</tbody>
						</table>
						<h4 class="child-header">Examples</h4>
						<ul>
							<li><i>curl -X POST http://api.sitfish.com/v1/people -d "id=wuzang" -d "name=武藏" -d "email=bkmons@qq.com" -d "password=sss" -v</i></li>
						</ul>
						<br><br>
					</section>
					<section id="people-id" class="anchor">
						<h1 class="page-header">/people/&lt;id&gt;</h1>
						<h4>Definition</h4>
						<p><b>GET</b> http://{{ host }}/{{ version }}/people/&lt;id&gt;</p>
						<p><i>Return a specified people.</i></p>
						<h4 class="child-header">Return</h4>
						<table class="table table-condensed">
							<tbody>
								<tr>
									<td width="200">ret</td>
									<td>
										<table>
											<tr>
												<td>0</td>
												<td width="15"></td>
												<td>fail</td>
											</tr>
											<tr>
												<td>1</td>
												<td></td>
												<td>success</td>
											</tr>
										</table>
									</td>
								</tr>
								<tr>
									<td>people</td>
									<td>Public people object in json format</td>
								</tr>
							</tbody>
						</table>
						<h4 class="child-header">Examples</h4>
						<ul>
							<li><a target="_blank" href="/{{ version }}/people/wuzang"><i>http://{{ host }}/{{ version }}/people/wuzang</i></a></li>
						</ul>
						<br><br>
					</section>
					<section id="people-activation" class="anchor">
						<h1 class="page-header">/people/&lt;id&gt;/activation</h1>
						<h4>Definition</h4>
						<p><b>POST</b> http://{{ host }}/{{ version }}/people/&lt;id&gt;/activation</p>
						<p><i>Account activation for new user.</i></p>
						<h4 class="child-header">Arguments</h4>
						<table class="table table-condensed">
							<tbody>
								<tr>
									<td width="200">code</td>
									<td>Activation code.</td>
								</tr>
							</tbody>
						</table>
						<h4 class="child-header">Return</h4>
						<table class="table table-condensed">
							<tbody>
								<tr>
									<td width="200">ret</td>
									<td>
										<table>
											<tr>
												<td>0</td>
												<td width="15"></td>
												<td>fail</td>
											</tr>
											<tr>
												<td>1</td>
												<td></td>
												<td>success</td>
											</tr>
										</table>
									</td>
								</tr>
							</tbody>
						</table>
						<h4 class="child-header">Examples</h4>
						<ul>
							<li><i>curl -X POST http://{{ host }}/{{ version }}/people/wuzang/activation?code=bal2w58ki6uojz19puxmxbwnzgq37s40 -v</i></li>
						</ul>
						<br><br>
					</section>
					<section id="oauth2-tokens" class="anchor">
						<h1 class="page-header">/oauth2/tokens</h1>
						<h4>Definition</h4>
						<p><b>POST</b> http://{{ host }}/{{ version }}//oauth2/tokens</p>
						<p><i>Request an access token for the user.</i></p>
						<h4 class="child-header">Arguments</h4>
						<table class="table table-condensed">
							<tbody>
								<tr>
									<td width="200">grant_type</td>
									<td>A fixed value "password".</td>
								</tr>
								<tr>
									<td>username</td>
									<td>User id or email.</td>
								</tr>
								<tr>
									<td>password</td>
									<td>The password.</td>
								</tr>
							</tbody>
						</table>
						<h4 class="child-header">Return</h4>
						<table class="table table-condensed">
							<tbody>
								<tr>
									<td width="200">ret</td>
									<td>
										<table>
											<tr>
												<td>-1</td>
												<td width="15"></td>
												<td>not activated</td>
											</tr>
											<tr>
												<td>0</td>
												<td></td>
												<td>email or password is not correct</td>
											</tr>
											<tr>
												<td>1</td>
												<td></td>
												<td>success</td>
											</tr>
										</table>
									</td>
								</tr>
								<tr>
									<td>access_token</td>
									<td>The access token for this user.</td>
								</tr>
								<tr>
									<td>token_type</td>
									<td>Default is "bearer".</td>
								</tr>
								<tr>
									<td>expire_in</td>
									<td>Default is 7 days.</td>
								</tr>
							</tbody>
						</table>
						<h4 class="child-header">Examples</h4>
						<ul>
							<li><i>curl -X POST http://api.sitfish.com/v1/oauth2/tokens -d "grant_type=password" -d "username=wuzang" -d "password=sss" -v</i></li>
						</ul>
						<br><br>
					</section>
					<section id="people-id-valid" class="anchor">
						<h1 class="page-header">/people/&lt;id&gt;/valid</h1>
						<h4>Definition</h4>
						<p><b>GET</b> http://{{ host }}/{{ version }}/people/&lt;id&gt;/valid</p>
						<p><i>Validate access token.</i></p>
						<p><b><i>An access token is required.</i></b></p>
						<h4 class="child-header">Return</h4>
						<table class="table table-condensed">
							<tbody>
								<tr>
									<td width="200">ret</td>
									<td>
										<table>
											<tr>
												<td>0</td>
												<td width="15"></td>
												<td>fail</td>
											</tr>
											<tr>
												<td>1</td>
												<td></td>
												<td>success</td>
											</tr>
										</table>
									</td>
								</tr>
							</tbody>
						</table>
						<h4 class="child-header">Examples</h4>
						<ul>
							<li><i>curl -X GET http://api.sitfish.com/v1/people/wuzang/valid -H "Authorization: Bearer {{access_token}}" -v</i></li>
						</ul>
						<br><br>
					</section>
					<section id="people-id-detail" class="anchor">
						<h1 class="page-header">/people/&lt;id&gt;/detail</h1>
						<h4>Definition</h4>
						<p><b>GET</b> http://{{ host }}/{{ version }}/people/&lt;id&gt;/detail</p>
						<p><i>Return a specified people with detailed info.</i></p>
						<p><b><i>An access token is required.</i></b></p>
						<h4 class="child-header">Return</h4>
						<table class="table table-condensed">
							<tbody>
								<tr>
									<td width="200">ret</td>
									<td>
										<table>
											<tr>
												<td>0</td>
												<td width="15"></td>
												<td>fail</td>
											</tr>
											<tr>
												<td>1</td>
												<td></td>
												<td>success</td>
											</tr>
										</table>
									</td>
								</tr>
								<tr>
									<td>people</td>
									<td>Public people object in json format</td>
								</tr>
							</tbody>
						</table>
						<h4 class="child-header">Examples</h4>
						<ul>
							<li><i>curl -X GET http://api.sitfish.com/v1/people/wuzang/detail -H "Authorization: Bearer {{access_token}}" -v</i></li>
						</ul>
						<br><br>
					</section>
					<section id="people-id-player" class="anchor">
						<h1 class="page-header">/people/&lt;id&gt;/player</h1>
						<h4>1. Definition</h4>
						<p><b>GET</b> http://{{ host }}/{{ version }}/people/&lt;id&gt;/player</p>
						<p><i>Get the current player.</i></p>
						<p><b><i>An access token is required.</i></b></p>
						<h4 class="child-header">Return</h4>
						<table class="table table-condensed">
							<tbody>
								<tr>
									<td width="200">ret</td>
									<td>
										<table>
											<tr>
												<td>0</td>
												<td width="15"></td>
												<td>fail</td>
											</tr>
											<tr>
												<td>1</td>
												<td></td>
												<td>success</td>
											</tr>
										</table>
									</td>
								</tr>
								<tr>
									<td>player</td>
									<td>The current player.</td>
								</tr>
							</tbody>
						</table>
						<h4 class="child-header">Examples</h4>
						<ul>
							<li><i>curl -X GET http://api.sitfish.com/v1/people/wuzang/player -H "Authorization: Bearer {{access_token}}" -v</i></li>
						</ul>
						<br>
						<h4>2. Definition</h4>
						<p><b>PUT</b> http://{{ host }}/{{ version }}/people/&lt;id&gt;/player</p>
						<p><i>Update the player status.</i></p>
						<p><b><i>An access token is required.</i></b></p>
						<h4 class="child-header">Arguments</h4>
						<table class="table table-condensed">
							<tbody>
								<tr>
									<td width="200">status</td>
									<td>They are: "stopped", "paused", "playing".</td>
								</tr>
								<tr>
									<td>sid</td>
									<td>Song id</td>
								</tr>
							</tbody>
						</table>
						<h4 class="child-header">Return</h4>
						<table class="table table-condensed">
							<tbody>
								<tr>
									<td width="200">ret</td>
									<td>
										<table>
											<tr>
												<td>0</td>
												<td width="15"></td>
												<td>fail</td>
											</tr>
											<tr>
												<td>1</td>
												<td></td>
												<td>success</td>
											</tr>
										</table>
									</td>
								</tr>
							</tbody>
						</table>
						<h4 class="child-header">Examples</h4>
						<ul>
							<li><i>curl -X PUT http://api.sitfish.com/v1/people/wuzang/player -H "Authorization: Bearer {{access_token}}" -d "status=playing" -d "sid=189192" -v</i></li>
						</ul>
						<br><br>
					</section>
					<section id="people-id-player-playlist" class="anchor">
						<h1 class="page-header">/people/&lt;id&gt;/player/playlist</h1>
						<h4>1. Definition</h4>
						<p><b>POST</b> http://{{ host }}/{{ version }}/people/&lt;id&gt;/player/playlist</p>
						<p><i>Add a song to the playlist.</i></p>
						<p><b><i>An access token is required.</i></b></p>
						<h4 class="child-header">Arguments</h4>
						<table class="table table-condensed">
							<tbody>
								<tr>
									<td width="200">sid</td>
									<td>Song id</td>
								</tr>
							</tbody>
						</table>
						<h4 class="child-header">Return</h4>
						<table class="table table-condensed">
							<tbody>
								<tr>
									<td width="200">ret</td>
									<td>
										<table>
											<tr>
												<td>0</td>
												<td width="15"></td>
												<td>fail</td>
											</tr>
											<tr>
												<td>1</td>
												<td></td>
												<td>success</td>
											</tr>
										</table>
									</td>
								</tr>
								<tr>
									<td>player</td>
									<td>The current player.</td>
								</tr>
							</tbody>
						</table>
						<h4 class="child-header">Examples</h4>
						<ul>
							<li><i>curl -X POST http://api.sitfish.com/v1/people/wuzang/player/playlist -H "Authorization: Bearer {{access_token}}" -d "sid=189192" -v</i></li>
						</ul>
						<br>
						<h4>2. Definition</h4>
						<p><b>PUT</b> http://{{ host }}/{{ version }}/people/&lt;id&gt;/player/playlist</p>
						<p><i>Update the current playlist.</i></p>
						<p><b><i>An access token is required.</i></b></p>
						<h4 class="child-header">Arguments</h4>
						<table class="table table-condensed">
							<tbody>
								<tr>
									<td width="200">sids</td>
									<td>Song id list</td>
								</tr>
							</tbody>
						</table>
						<h4 class="child-header">Return</h4>
						<table class="table table-condensed">
							<tbody>
								<tr>
									<td width="200">ret</td>
									<td>
										<table>
											<tr>
												<td>0</td>
												<td width="15"></td>
												<td>fail</td>
											</tr>
											<tr>
												<td>1</td>
												<td></td>
												<td>success</td>
											</tr>
										</table>
									</td>
								</tr>
								<tr>
									<td>player</td>
									<td>The current player.</td>
								</tr>
							</tbody>
						</table>
						<h4 class="child-header">Examples</h4>
						<ul>
							<li><i>curl -X PUT http://api.sitfish.com/v1/people/wuzang/player/playlist -H "Authorization: Bearer {{access_token}}" -d "sids=189192,29713754,28793502" -v</i></li>
						</ul>
						<br>
						<h4>3. Definition</h4>
						<p><b>DELETE</b> http://{{ host }}/{{ version }}/people/&lt;id&gt;/player/playlist</p>
						<p><i>Clear the current playlist.</i></p>
						<p><b><i>An access token is required.</i></b></p>
						<h4 class="child-header">Return</h4>
						<table class="table table-condensed">
							<tbody>
								<tr>
									<td width="200">ret</td>
									<td>
										<table>
											<tr>
												<td>0</td>
												<td width="15"></td>
												<td>fail</td>
											</tr>
											<tr>
												<td>1</td>
												<td></td>
												<td>success</td>
											</tr>
										</table>
									</td>
								</tr>
								<tr>
									<td>player</td>
									<td>The current player.</td>
								</tr>
							</tbody>
						</table>
						<h4 class="child-header">Examples</h4>
						<ul>
							<li><i>curl -X DELETE http://api.sitfish.com/v1/people/wuzang/player/playlist -H "Authorization: Bearer {{access_token}}" -v</i></li>
						</ul>
						<br><br>
					</section>
					<section id="people-id-player-playlist-sid" class="anchor">
						<h1 class="page-header">/people/&lt;id&gt;/player/playlist/&lt;sid&gt;</h1>
						<h4>Definition</h4>
						<p><b>DELETE</b> http://{{ host }}/{{ version }}/people/&lt;id&gt;/player/playlist/&lt;sid&gt;</p>
						<p><i>Delete the specified song from playlist.</i></p>
						<p><b><i>An access token is required.</i></b></p>
						<h4 class="child-header">Return</h4>
						<table class="table table-condensed">
							<tbody>
								<tr>
									<td width="200">ret</td>
									<td>
										<table>
											<tr>
												<td>0</td>
												<td width="15"></td>
												<td>fail</td>
											</tr>
											<tr>
												<td>1</td>
												<td></td>
												<td>success</td>
											</tr>
										</table>
									</td>
								</tr>
								<tr>
									<td>player</td>
									<td>The current player.</td>
								</tr>
							</tbody>
						</table>
						<h4 class="child-header">Examples</h4>
						<ul>
							<li><i>curl -X DELETE http://api.sitfish.com/v1/people/wuzang/player/playlist/189192 -H "Authorization: Bearer {{access_token}}" -v</i></li>
						</ul>
						<br><br>
					</section>
				</div>
			</div>
		</div>
		<script src="http://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
		<script src="http://cdn.bootcss.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
	</body>
</html>
