<!DOCTYPE html>
<html>
	<head>
		<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
		<base href="http://{{ domain }}" />
		<title>{{ brand }}</title>
		<link rel="icon" href="{{ url_for('static', filename='image/logo.jpg') }}" />
		<link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.1/css/bootstrap.min.css">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-glyphicons.css') }}">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
		<link rel="stylesheet" href="{{ url_for('static', filename='sm/css/bar-ui.css') }}">
		<link rel="stylesheet" href="{{ url_for('static', filename='sm/css/demo.css') }}">
	</head>
	<body>
		<hearder>
			{% include "header.html" %}
		</hearder>
		<div class="container" id="main">
			{% include template %}
		</div>
		<hr style="margin-top:0px; margin-bottom:5px; border-top:1px solid #d3d3d3">
		<footer class="container footer" style="padding:0px 0px 0px 0px; margin-bottom: 80px;">
			<span style="color: #999; font:12px Helvetica,Arial,sans-serif;">© 2014-2015 sitfish.com, all rights reserved &nbsp;{{ brand }}科技</span>
		</footer>
		<nav class="navbar navbar-fixed-bottom" style="min-height:45px;">
			<div class="container" style="padding:0; height:45px;" id="player">
				{% include "player.html" %}
			</div>
		</nav>
		<!-- Modal -->
		<div class="modal fade" id="connectRequestModal" tabindex="-1" role="dialog" aria-labelledby="connectRequestLabel" aria-hidden="true" style="padding-top:200px;">
			<div class="modal-backdrop fade in" style="height: 961px;"></div>
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header" style="border:none; padding:30px 0px 30px 30px;">
						<h4 class="modal-title" id="connectRequestLabel">武藏（wuzang）请求与你连接</h4>
					</div>
					<div class="modal-footer" style="border:none;">
						<button type="button" class="btn btn-default" data-dismiss="modal">拒绝</button>
						<button type="button" class="btn btn-info">同意</button>
					</div>
				</div>
			</div>
		</div>
		<div class="modal fade" id="messageModal" tabindex="-1" role="dialog" aria-labelledby="messageLabel" aria-hidden="true" style="padding-top:200px;">
			<div class="modal-backdrop fade in" style="height: 961px;"></div>
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header" style="border:none; padding:30px 0px 30px 30px;">
						<h4 class="modal-title" id="messageLabel">消息已发出！</h4>
					</div>
					<div class="modal-footer" style="border:none;">
						<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
					</div>
				</div>
			</div>
		</div>
		<!-- Data -->
		<data id="data-logo-img" value="{{url_for('static', filename='image/logo.jpg')}}"></data>
		<data id="data-ws-host" value="{{ws_host}}"></data>
		<data id="data-ws-port" value="{{ws_port}}"></data>
		<!-- Scripts -->
		<script src="//cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
		<script src="//cdn.bootcss.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
		<script src="{{ url_for('static', filename='script/jquery.cookie.js') }}"></script>
		<script src="{{ url_for('static', filename='script/jquery.pjax.js') }}"></script>
		<script src="{{ url_for('static', filename='script/handlebars-v2.0.0.js') }}"></script>
		<!-- SoundManager2 -->
		<script src="{{ url_for('static', filename='sm/script/soundmanager2.js') }}"></script>
		<script src="{{ url_for('static', filename='sm/script/bar-ui.js') }}"></script>
		<!-- WebSocket -->
		<script src="{{ url_for('static', filename='script/reconnecting-websocket.js') }}"></script>
		<!-- SitFish -->
		<script src="{{ url_for('static', filename='script/sitfish.js') }}"></script>
	</body>
</html>
