<!DOCTYPE html>
<html>
	<head>
		<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
		<base href="http://{{ domain }}" />
		<title>{{ brand }}</title>
		<link rel="icon" href="{{ url_for('static', filename='image/logo.jpg') }}" />
		<link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.1/css/bootstrap.min.css">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-glyphicons.css') }}">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
		<link rel="stylesheet" href="{{ url_for('static', filename='sm/css/bar-ui.css') }}">
		<link rel="stylesheet" href="{{ url_for('static', filename='sm/css/demo.css') }}">
	</head>
	<body>
		<hearder>
			{% include "header.html" %}
		</hearder>
		<div class="container" id="main">
			{% include template %}
		</div>
		<hr style="margin-top:0px; margin-bottom:5px; border-top:1px solid #d3d3d3">
		<footer class="container footer" style="padding:0px 0px 0px 0px; margin-bottom: 80px;">
			<span style="color: #999; font:12px Helvetica,Arial,sans-serif;">© 2014-2015 sitfish.com, all rights reserved &nbsp;{{ brand }}科技</span>
		</footer>
		<nav class="navbar navbar-fixed-bottom" style="min-height:45px;">
			<div class="container" style="padding:0; height:45px;" id="player">
				{% include "player.html" %}
			</div>
		</nav>
		<!-- Data -->
		<data id="data-mine-id" value="{{mine.id}}"></data>
		<data id="data-ws-host" value="{{ws_host}}"></data>
		<data id="data-ws-port" value="{{ws_port}}"></data>
		<data id="data-logo-img" value="{{url_for('static', filename='image/logo.jpg')}}"></data>
		<!-- Scripts -->
		<script src="//cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
		<script src="//cdn.bootcss.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
		<script src="{{ url_for('static', filename='script/jquery.cookie.js') }}"></script>
		<script src="{{ url_for('static', filename='script/jquery.pjax.js') }}"></script>
		<script src="{{ url_for('static', filename='script/handlebars-v2.0.0.js') }}"></script>
		<!-- SoundManager2 -->
		<script src="{{ url_for('static', filename='sm/script/soundmanager2.js') }}"></script>
		<script src="{{ url_for('static', filename='sm/script/bar-ui.js') }}"></script>
		<!-- WebSocket -->
		<script src="{{ url_for('static', filename='script/reconnecting-websocket.js') }}"></script>
		<!-- SitFish -->
		<script src="{{ url_for('static', filename='script/sitfish.js') }}"></script>
	</body>
</html>
