<div class="row" style="padding-left:30px; padding-right:30px; margin-bottom:30px;">
	<div style="border-bottom:2px solid #CD3333; padding:30px 0px 15px 0px;">
		<button class="btn btn-default" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
			全部&nbsp;&nbsp;<span class="glyphicon glyphicon-list"></span>
		</button>
		<div class="collapse" id="collapseExample" style="margin-top:10px;">
			<div class="well" style="margin-bottom:0px; background-color:white;">
				<table class="table" style="margin-bottom:0px;">
					<tr>
						<td colspan="2" style="border-top:none;">
							<a href="/explore/playlist/cat/全部" data-pjax="#main">全部</a>&nbsp;&nbsp;
						</td>
					</tr>
					<tr>
						<td width="50" style="border-top:none;"><b>语种</b></td>
						<td style="border-top:none;">
							<a href="/explore/playlist/cat/华语" data-pjax="#main">华语</a>&nbsp;&nbsp;
							<a href="/explore/playlist/cat/欧美" data-pjax="#main">欧美</a>&nbsp;&nbsp;
							<a href="/explore/playlist/cat/日语" data-pjax="#main">日语</a>&nbsp;&nbsp;
							<a href="/explore/playlist/cat/韩语" data-pjax="#main">韩语</a>&nbsp;&nbsp;
							<a href="/explore/playlist/cat/粤语" data-pjax="#main">粤语</a>&nbsp;&nbsp;
							<a href="/explore/playlist/cat/小语种" data-pjax="#main">小语种</a>&nbsp;&nbsp;
						</td>
					</tr>
					<tr>
						<td style="border-top:none;"><b>场景</b></td>
						<td style="border-top:none;">
							<a href="/explore/playlist/cat/清晨" data-pjax="#main">清晨</a>&nbsp;&nbsp;
							<a href="/explore/playlist/cat/黄昏" data-pjax="#main">黄昏</a>&nbsp;&nbsp;
							<a href="/explore/playlist/cat/夜晚" data-pjax="#main">夜晚</a>&nbsp;&nbsp;
							<a href="/explore/playlist/cat/学习" data-pjax="#main">学习</a>&nbsp;&nbsp;
							<a href="/explore/playlist/cat/工作" data-pjax="#main">工作</a>&nbsp;&nbsp;
							<a href="/explore/playlist/cat/午休" data-pjax="#main">午休</a>&nbsp;&nbsp;
							<a href="/explore/playlist/cat/下午茶" data-pjax="#main">下午茶</a>&nbsp;&nbsp;
							<a href="/explore/playlist/cat/地铁" data-pjax="#main">地铁</a>&nbsp;&nbsp;
							<a href="/explore/playlist/cat/驾车" data-pjax="#main">驾车</a>&nbsp;&nbsp;
							<a href="/explore/playlist/cat/运动" data-pjax="#main">运动</a>&nbsp;&nbsp;
							<a href="/explore/playlist/cat/缠绵" data-pjax="#main">缠绵</a>&nbsp;&nbsp;
							<a href="/explore/playlist/cat/聚会" data-pjax="#main">聚会</a>&nbsp;&nbsp;
							<a href="/explore/playlist/cat/度假" data-pjax="#main">度假</a>&nbsp;&nbsp;
							<a href="/explore/playlist/cat/旅行" data-pjax="#main">旅行</a>&nbsp;&nbsp;
							<a href="/explore/playlist/cat/散步" data-pjax="#main">散步</a>&nbsp;&nbsp;
							<a href="/explore/playlist/cat/校园" data-pjax="#main">校园</a>&nbsp;&nbsp;
							<a href="/explore/playlist/cat/酒吧" data-pjax="#main">酒吧</a>&nbsp;&nbsp;
						</td>
					</tr>
					<tr>
						<td style="border-top:none;"><b>风格</b></td>
						<td style="border-top:none;">
							<a href="/explore/playlist/cat/流行" data-pjax="#main">流行</a>&nbsp;&nbsp;
							<a href="/explore/playlist/cat/摇滚" data-pjax="#main">摇滚</a>&nbsp;&nbsp;
							<a href="/explore/playlist/cat/民谣" data-pjax="#main">民谣</a>&nbsp;&nbsp;
							<a href="/explore/playlist/cat/电子" data-pjax="#main">电子</a>&nbsp;&nbsp;
							<a href="/explore/playlist/cat/说唱" data-pjax="#main">说唱</a>&nbsp;&nbsp;
							<a href="/explore/playlist/cat/轻音乐" data-pjax="#main">轻音乐</a>&nbsp;&nbsp;
							<a href="/explore/playlist/cat/爵士" data-pjax="#main">爵士</a>&nbsp;&nbsp;
							<a href="/explore/playlist/cat/乡村" data-pjax="#main">乡村</a>&nbsp;&nbsp;
							<a href="/explore/playlist/cat/古典" data-pjax="#main">古典</a>&nbsp;&nbsp;
							<a href="/explore/playlist/cat/民族" data-pjax="#main">民族</a>&nbsp;&nbsp;
							<a href="/explore/playlist/cat/英伦" data-pjax="#main">英伦</a>&nbsp;&nbsp;
							<a href="/explore/playlist/cat/金属" data-pjax="#main">金属</a>&nbsp;&nbsp;
							<a href="/explore/playlist/cat/朋克" data-pjax="#main">朋克</a>&nbsp;&nbsp;
							<a href="/explore/playlist/cat/蓝调" data-pjax="#main">蓝调</a>&nbsp;&nbsp;
							<a href="/explore/playlist/cat/原声" data-pjax="#main">原声</a>&nbsp;&nbsp;
							<a href="/explore/playlist/cat/雷鬼" data-pjax="#main">雷鬼</a>&nbsp;&nbsp;
							<a href="/explore/playlist/cat/拉丁" data-pjax="#main">拉丁</a>&nbsp;&nbsp;
							<a href="/explore/playlist/cat/动漫" data-pjax="#main">动漫</a>&nbsp;&nbsp;
							<a href="/explore/playlist/cat/古风" data-pjax="#main">古风</a>&nbsp;&nbsp;
						</td>
					</tr>
					<tr>
						<td style="border-top:none;"><b>情感</b></td>
						<td style="border-top:none;">
							<a href="/explore/playlist/cat/怀旧" data-pjax="#main">怀旧</a>&nbsp;&nbsp;
							<a href="/explore/playlist/cat/清新" data-pjax="#main">清新</a>&nbsp;&nbsp;
							<a href="/explore/playlist/cat/浪漫" data-pjax="#main">浪漫</a>&nbsp;&nbsp;
							<a href="/explore/playlist/cat/性感" data-pjax="#main">性感</a>&nbsp;&nbsp;
							<a href="/explore/playlist/cat/伤感" data-pjax="#main">伤感</a>&nbsp;&nbsp;
							<a href="/explore/playlist/cat/治愈" data-pjax="#main">治愈</a>&nbsp;&nbsp;
							<a href="/explore/playlist/cat/放松" data-pjax="#main">放松</a>&nbsp;&nbsp;
							<a href="/explore/playlist/cat/悲伤" data-pjax="#main">悲伤</a>&nbsp;&nbsp;
							<a href="/explore/playlist/cat/温暖" data-pjax="#main">温暖</a>&nbsp;&nbsp;
							<a href="/explore/playlist/cat/孤独" data-pjax="#main">孤独</a>&nbsp;&nbsp;
							<a href="/explore/playlist/cat/感动" data-pjax="#main">感动</a>&nbsp;&nbsp;
							<a href="/explore/playlist/cat/兴奋" data-pjax="#main">兴奋</a>&nbsp;&nbsp;
							<a href="/explore/playlist/cat/快乐" data-pjax="#main">快乐</a>&nbsp;&nbsp;
							<a href="/explore/playlist/cat/安静" data-pjax="#main">安静</a>&nbsp;&nbsp;
							<a href="/explore/playlist/cat/思念" data-pjax="#main">思念</a>&nbsp;&nbsp;
						</td>
					</tr>
					<tr>
						<td style="border-top:none;"><b>主题</b></td>
						<td style="border-top:none;">
							<a href="/explore/playlist/cat/游戏" data-pjax="#main">游戏</a>&nbsp;&nbsp;
							<a href="/explore/playlist/cat/70后" data-pjax="#main">70后</a>&nbsp;&nbsp;
							<a href="/explore/playlist/cat/80后" data-pjax="#main">80后</a>&nbsp;&nbsp;
							<a href="/explore/playlist/cat/90后" data-pjax="#main">90后</a>&nbsp;&nbsp;
							<a href="/explore/playlist/cat/网络歌曲" data-pjax="#main">网络歌曲</a>&nbsp;&nbsp;
							<a href="/explore/playlist/cat/KTV" data-pjax="#main">KTV</a>&nbsp;&nbsp;
							<a href="/explore/playlist/cat/经典" data-pjax="#main">经典</a>&nbsp;&nbsp;
							<a href="/explore/playlist/cat/翻唱" data-pjax="#main">翻唱</a>&nbsp;&nbsp;
							<a href="/explore/playlist/cat/吉他" data-pjax="#main">吉他</a>&nbsp;&nbsp;
							<a href="/explore/playlist/cat/钢琴" data-pjax="#main">钢琴</a>&nbsp;&nbsp;
							<a href="/explore/playlist/cat/器乐" data-pjax="#main">器乐</a>&nbsp;&nbsp;
							<a href="/explore/playlist/cat/儿童" data-pjax="#main">儿童</a>&nbsp;&nbsp;
							<a href="/explore/playlist/cat/榜单" data-pjax="#main">榜单</a>&nbsp;&nbsp;
							<a href="/explore/playlist/cat/对唱" data-pjax="#main">对唱</a>&nbsp;&nbsp;
							<a href="/explore/playlist/cat/00后" data-pjax="#main">00后</a>&nbsp;&nbsp;
						</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
	<br>
	{% include 'playlist_list_explore.html' %}
</div>
