<nav class="navbar" role="navigation">
	<div class="container" style="padding-right:0px;">
		<div class="navbar-header">
			<a class="navbar-brand" href="/" data-pjax="#main" style="height:auto !important; padding: 6px 0px 6px 0px;">
				<img alt="Brand" src="{{url_for('static', filename='image/logo.jpg')}}" width="48" height="48">
			</a>
			<a class="navbar-brand" href="/" data-pjax="#main" style="margin-left:-10px; font-size:36px; padding:20px;">{{ brand }}</a>
		</div>
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav nav-main">
				<li class="active"><a href="/toplists" data-pjax="#main">排行榜</a></li>
				<li><a href="/explore/playlists" data-pjax="#main">歌单</a></li>
				<li><a href="javascript:void(0);" data-pjax="#main">客户端下载</a></li>
				<li>
					<form class="navbar-form search-from" role="search" action="/search" method="GET" data-pjax="#main" autocomplete="off">
						<div class="input-group" style="margin-top:5px;">
							<input name="s" type="text" class="form-control" placeholder="单曲/歌手/专辑/歌单/用户" width="50px">
							<input name="t" type="hidden" class="form-control" value="{{t|default('1')}}">
							<div class="input-group-btn">
								<button type="submit" class="btn btn-info search-button">
									<span class="glyphicon glyphicon-search"></span>
								</button>
							</div>
						</div>
					</form>
				</li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li><a href="/notice" data-pjax="#main">提醒 <span class="badge" id="notice"></span></a></li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">账号<span class="caret"></span></a>
					<ul class="dropdown-menu dropdown-menu-custom" role="menu">
						<li><a href="/people/{{mine.id}}" data-pjax="#main"><span class="glyphicon glyphicon-user"></span>{{mine.name}}</a></li>
						{% if mine.friend.id != '' %}
						<li><a id="friend" href="/people/{{mine.friend.id}}" data-pjax="#main"><span class="glyphicon glyphicon-heart"></span>{{mine.friend.name}}</a></li>
						{% else %}
						<li><a id="friend" href="/search?s=&t=0" data-pjax="#main"><span class="glyphicon glyphicon-heart"></span>添加好友</a></li>
						{% endif %}
						<li><a href="javascript:void(0)" id="disconnect"><span class="glyphicon glyphicon-remove"></span>断开</a></li>
						<li><a href="/sign-out"><span class="glyphicon glyphicon-log-out"></span>退出</a></li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
</nav>
<nav class="navbar navbar-custom">
</nav>
