<div class="row">
	<div class="col-sm-9 page-min-height" style="background-color: white; border-right: 1px solid #d3d3d3;">
		<br><br>
		<div class="row" style="padding:0px 50px 0px 50px;">
			<h2 style="padding-bottom:10px; border-bottom:2px solid #CD3333;">我的提醒</h2>
			<ul style="list-style-type:none; padding:0;">
				{% for i in range(3) %}
				<li style="padding:15px 0px 15px 0px; border-bottom:1px solid #F0F0F0;">
					<span>武藏(wuzang) 请求与你连接</span>
					<button class="btn btn-xs btn-default" style="float:right;">同意</button>
					<button class="btn btn-xs btn-default" style="float:right; margin-right:5px;">拒绝</button>
				</li>
				{% endfor %}
			</ul>
		</div>
	</div>
	<div class="col-sm-3 sidebar">
		<br><br>
	</div>
</div>
