<div class="sm2-bar-ui full-width fixed">
	<div class="bd sm2-main-controls">
		<div class="sm2-inline-texture"></div>
		<div class="sm2-inline-gradient"></div>
		<div class="sm2-inline-element sm2-button-element">
			<img id="song-img" src="{{ url_for('static', filename='image/logo.png') }}" width="45" height="45">
		</div>
		<div class="sm2-inline-element sm2-button-element">
			<div class="sm2-button-bd">
				<a href="#play" class="sm2-inline-button play-pause">Play / pause</a>
			</div>
		</div>
		<div class="sm2-inline-element sm2-inline-status">
			<div class="sm2-playlist">
				<div class="sm2-playlist-target">
					<noscript>
						<p>JavaScript is required.</p>
					</noscript>
				</div>
			</div>
			<div class="sm2-progress">
				<div class="sm2-row">
					<div class="sm2-inline-time">0:00</div>
					<div class="sm2-progress-bd">
						<div class="sm2-progress-track">
							<div class="sm2-progress-bar"></div>
							<div class="sm2-progress-ball">
								<div class="icon-overlay"></div>
							</div>
						</div>
					</div>
					<div class="sm2-inline-duration">0:00</div>
				</div>
			</div>
		</div>
		<div class="sm2-inline-element sm2-button-element sm2-volume">
			<div class="sm2-button-bd">
				<span class="sm2-inline-button sm2-volume-control volume-shade"></span>
				<a href="#volume" class="sm2-inline-button sm2-volume-control">volume</a>
			</div>
		</div>
		<div class="sm2-inline-element sm2-button-element">
			<div class="sm2-button-bd">
				<a href="#prev" title="Previous" class="sm2-inline-button previous">&lt; previous</a>
			</div>
		</div>
		<div class="sm2-inline-element sm2-button-element">
			<div class="sm2-button-bd">
				<a href="#next" title="Next" class="sm2-inline-button next">&gt; next</a>
			</div>
		</div>
		<div class="sm2-inline-element sm2-button-element sm2-menu">
			<div class="sm2-button-bd">
				<a href="#menu" class="sm2-inline-button menu">menu</a>
				<span id="song-num" style="float:right; padding-top:1px; padding-right:2px; font-size:11px;">0</span>
			</div>
		</div>
	</div>
	<div class="bd sm2-playlist-drawer sm2-element">
		<div class="sm2-inline-texture">
			<div class="sm2-box-shadow"></div>
		</div>
		<div class="sm2-playlist-wrapper">
			<div class="row">
				<div class="col-sm-7">
					<p style="padding:10px 0px 10px 10px;">
						<b>播放列表</b>
						<span class="clear-song" style="float:right; margin-right:25px;"><a href="javascript:void(0);"><small>清空</small></a></span>
					</p>
				</div>
				<div class="col-sm-5">
					<p style="padding:10px 0px 10px 0px;"><b>匆匆那年</b></p>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-7">
					<ul id="player-playlist" class="sm2-playlist-bd">
						<li>
							<a href="javascript:void(0);"></a>
						</li>
					</ul>
					{% raw %}
					<script id="player-playlist-template" type="text/x-handlebars-template">
						{{#each playlist}}
						<li style="position:relative;">
							<a href="{{source}}" img="{{img}}" style="padding-right:30px;">
								<table width="100%">
									<tr>
										<td>{{name}}</td>
										<td width="120">{{artist_name}}</td>
										<td width="60">{{formatTime time}}</td>
									</tr>
								</table>
							</a>
							<span song-id="{{sid}}" class="glyphicon glyphicon-trash delete-song" aria-hidden="true" style="position:absolute; top:8px; right:15px;"></span>
						</li>
						{{/each}}
					</script>
					{% endraw %}
				</div>
				<div class="col-sm-5">
					<p>歌词</p>
				</div>
			</div>
		</div>
	</div>
</div>
