<div class="sm2-bar-ui full-width fixed">
	<div class="bd sm2-main-controls">
		<div class="sm2-inline-texture"></div>
		<div class="sm2-inline-gradient"></div>
		<div class="sm2-inline-element sm2-button-element">
			{% if mine.player.song %}
				<img id="song-img" src="{{mine.player.song.img}}" width="45" height="45">
			{% else %}
				<img id="song-img" src="{{ url_for('static', filename='image/logo.jpg') }}" width="45" height="45">
			{% endif %}
		</div>
		<div class="sm2-inline-element sm2-button-element">
			<div class="sm2-button-bd">
				<a href="#play" class="sm2-inline-button play-pause">Play / pause</a>
			</div>
		</div>
		<div class="sm2-inline-element sm2-inline-status">
			<div class="sm2-playlist">
				<div class="sm2-playlist-target">
					{% if mine.player.song %}
					<ul class="sm2-playlist-bd">
						<li>{{mine.player.song.name}} - {{mine.player.song.artist.name}}</li>
					</ul>
					{% else %}
					<noscript>
						<p>JavaScript is required.</p>
					</noscript>
					{% endif %}
				</div>
			</div>
			<div class="sm2-progress">
				<div class="sm2-row">
					<div class="sm2-inline-time">0:00</div>
					<div class="sm2-progress-bd">
						<div class="sm2-progress-track">
							<div class="sm2-progress-bar"></div>
							<div class="sm2-progress-ball">
								<div class="icon-overlay"></div>
							</div>
						</div>
					</div>
					<div class="sm2-inline-duration">0:00</div>
				</div>
			</div>
		</div>
		<div class="sm2-inline-element sm2-button-element sm2-volume">
			<div class="sm2-button-bd">
				<span class="sm2-inline-button sm2-volume-control volume-shade"></span>
				<a href="#volume" class="sm2-inline-button sm2-volume-control">volume</a>
			</div>
		</div>
		<div class="sm2-inline-element sm2-button-element">
			<div class="sm2-button-bd">
				<a href="#prev" title="Previous" class="sm2-inline-button previous">&lt; previous</a>
			</div>
		</div>
		<div class="sm2-inline-element sm2-button-element">
			<div class="sm2-button-bd">
				<a href="#next" title="Next" class="sm2-inline-button next">&gt; next</a>
			</div>
		</div>
		<div class="sm2-inline-element sm2-button-element sm2-menu">
			<div class="sm2-button-bd">
				<a href="#menu" class="sm2-inline-button menu">menu</a>
				<span id="song-num" style="float:right; padding-top:1px; padding-right:2px; font-size:11px;">{{mine.player.playlist|length}}</span>
			</div>
		</div>
	</div>
	<div class="bd sm2-playlist-drawer sm2-element">
		<div class="sm2-inline-texture">
			<div class="sm2-box-shadow"></div>
		</div>
		<div class="sm2-playlist-wrapper">
			<div class="row">
				<div class="col-sm-7">
					<p style="padding:10px 0px 10px 10px;">
						<b>播放列表</b>
						<span class="clear-song" style="float:right; margin-right:25px;"><a href="javascript:void(0);"><small>清空</small></a></span>
					</p>
				</div>
				<div class="col-sm-5">
					{% if mine.player.song %}
						<p style="padding:10px 0px 10px 0px;"><b>{{mine.player.song.name}}</b></p>
					{% else %}
						<p style="padding:10px 0px 10px 0px;"><b>暂无选择</b></p>
					{% endif %}
				</div>
			</div>
			<div class="row">
				<div class="col-sm-7">
					<ul id="player-playlist" class="sm2-playlist-bd">
					{% if mine.player.playlist|length > 0 %}
						{% for song in mine.player.playlist %}
						<li style="position:relative;" {% if song.id == mine.player.song.id %} class="selected" {% endif %}>
							<a href="{{song.source}}" img="{{song.img}}" style="padding-right:30px;">
								<table width="100%">
									<tr>
										<td>{{song.name}}</td>
										<td width="120">{{song.artist.name}}</td>
										<td width="60">{{song.time|time_format_filter}}</td>
									</tr>
								</table>
							</a>
							<span song-id="{{song.id}}" class="glyphicon glyphicon-trash delete-song" aria-hidden="true" style="position:absolute; top:8px; right:15px;"></span>
						</li>
						{% endfor %}
					{% else %}
						<li><a href="javascript:void(0);"></a></li>
					{% endif %}
					</ul>
				</div>
				<div class="col-sm-5">
					<p>歌词</p>
				</div>
			</div>
		</div>
	</div>
</div>
