<div class="row">
	<div class="col-sm-9" style="background-color: white; border-right: 1px solid #d3d3d3;">
		<br><br>
		<div class="row" style="padding:0px 50px 0px 50px;">
			<div class="col-sm-3" style="padding-left:0px;">
				<img src="{{ song['album']['picUrl'] }}" width="150" height="150" style="border:1px solid #d3d3d3;">
			</div>
			<div class="col-sm-9" style="padding-left:20px;">
				<h2>{{ song['name'] }}</h2>
				<small>歌手：<a href="/artist/{{ song['artists'][0]['id'] }}" data-pjax="#main" style="color:#428bca;">{{ song['artists'][0]['name'] }}</a></small><br>
				<small>专辑：<a href="/album/{{ song['album']['id'] }}" data-pjax="#main" style="color:#428bca;">{{ song['album']['name'] }}</a></small><br><br>
				<button type="submit" class="btn btn-info">
					<span class="glyphicon glyphicon-play-circle add-song" aria-hidden="true"
						song-id="{{ song['id'] }}"
						song-name="{{ song['name'] }}"
						song-source="{{ song['mp3Url'] }}"
						song-img="{{ song['album']['picUrl'] }}"
						song-time="{{ song['bMusic']['playTime'] }}"
						song-artist-id="{{ song['artists'][0]['id'] }}"
						song-artist-name="{{ song['artists'][0]['name'] }}">
					</span> 播放
				</button>
				<button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span> 收藏</button>
				<button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-share" aria-hidden="true"></span> 分享</button>
				<button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-comment" aria-hidden="true"></span> 评论</button>
				<br><br>
				{% for line in lyric %}
				<p style="font-size:14px; line-height:18px;">{{ line }}<p>
				{% endfor %}
			</div>
			<div style="clear:both; padding-top:20px;">
				{% include 'comment.html' %}
			</div>
		</div>
	</div>
	<div class="col-sm-3 sidebar">
		<br><br>
		{% include 'toplist_list.html' %}
		<br><br><br>
		<img width="100%" src="{{ url_for('static', filename='image/ad/%d.jpg' % ad) }}">
	</div>
</div>
