{% if title|default(True) %}
<h2 style="padding-bottom:10px; border-bottom:2px solid #CD3333;">歌曲列表</h2>
{% endif %}
<table class="table table-hover table-striped song-list">
	{% if title|default(True) %}
	<thead>
		<tr>
			<th></th>
			<th></th>
			<th>标题</th>
			<th>时长</th>
			<th>歌手</th>
		</tr>
	</thead>
	{% endif %}
	<tbody>
	{% for song in songs %}
		<tr>
			<td width="40">{{ offset|default(0) + loop.index }}</td>
			<td width="25">
				<a title="播放这首歌" href="javascript:void(0);" class="add-song">
					<span class="glyphicon glyphicon-play-circle" aria-hidden="true"
						song-id="{{ song['id'] }}"
						song-name="{{ song['name'] }}"
						song-source="{{ song['mp3Url'] }}"
						song-img="{{ song['album']['picUrl'] }}"
						song-time="{{ song['bMusic']['playTime'] }}"
						song-artist-id="{{ song['artists'][0]['id'] }}"
						song-artist-name="{{ song['artists'][0]['name'] }}">
					</span>
				</a>
			</td>
			<td><a title="{{ song['name'] }}" href="/songs/{{ song['id'] }}" data-pjax="#main">{{ song['name']|truncate(30, True) }}</a></td>
			<td width="80">{{ song['bMusic']['playTime']|time_format_filter }}</td>
			<td width="140"><a title="{{ song['artists'][0]['name'] }}" href="/artist/{{ song['artists'][0]['id'] }}" data-pjax="#main">{{ song['artists'][0]['name']|truncate(8, True) }}</a></td>
		</tr>
	{% endfor %}
	</tbody>
</table>
{% if page|default(False) %}
{% include 'page_num.html' %}
{% endif %}
