<!DOCTYPE html>
<html>
	<head>
		<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
		<base href="http://{{ domain }}" />
		<title>{{ brand }} - 提示</title>
		<link rel="icon" href="{{url_for('static', filename='image/logo.png')}}" />
		<link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.1/css/bootstrap.min.css">
		<link rel="stylesheet" href="{{url_for('static', filename='css/sign.css')}}">
	</head>
	<body>
		<nav class="navbar" role="navigation">
			<div class="container" align="center">
				<div class="navbar-header">
					<a href="/">{{ brand }}</a>
				</div>
			</div>
		</nav>
		<div class="container" style="width:800px;">
			<p>{{ tips }}</p>
			<br>
			<p><a href="/">返回首页</a></p>
		</div>
	</body>
</html>
