<div class="row">
	<div class="col-sm-3 sidebar">
		<br><br>
		<p><b>{{ brand }}音乐榜</b></p>
		<br>
		<ul class="nav nav-sidebar" id="nav" style="padding-left:5px;">
			<li>
				<div class="row">
					<div class="col-sm-3">
						<img src="{{url_for('static', filename='image/toplist/3778678.jpg')}}" width="40">
					</div>
					<div class="col-sm-9" style="padding-left:5px;">
						<span><a href="/toplist?id=3778678" data-pjax="#main">{{ brand }}热歌榜</a></span><br>
						<small>每天更新</small>
					</div>
				</div>
			</li>
			<br>
			<li class="active">
				<div class="row">
					<div class="col-sm-3">
						<img src="{{url_for('static', filename='image/toplist/3779629.jpg')}}" width="40">
					</div>
					<div class="col-sm-9" style="padding-left:5px;">
						<span><a href="/toplist?id=3779629" data-pjax="#main">{{ brand }}新歌榜</a></span><br>
						<small>每天更新</small>
					</div>
				</div>
			</li>
			<br>
			<li>
				<div class="row">
					<div class="col-sm-3">
						<img src="{{url_for('static', filename='image/toplist/60198.jpg')}}" width="40">
					</div>
					<div class="col-sm-9" style="padding-left:5px;">
						<span><a href="/toplist?id=60198" data-pjax="#main">美国Billboard周榜</a></span><br>
						<small>每周一更新</small>
					</div>
				</div>
			</li>
			<br>
			<li>
				<div class="row">
					<div class="col-sm-3">
						<img src="{{url_for('static', filename='image/toplist/180106.jpg')}}" width="40">
					</div>
					<div class="col-sm-9" style="padding-left:5px;">
						<span><a href="/toplist?id=180106" data-pjax="#main">UK排行榜周榜</a></span><br>
						<small>每周一更新</small>
					</div>
				</div>
			</li>
			<br>
			<li>
				<div class="row">
					<div class="col-sm-3">
						<img src="{{url_for('static', filename='image/toplist/60131.jpg')}}" width="40">
					</div>
					<div class="col-sm-9" style="padding-left:5px;">
						<span><a href="/toplist?id=60131" data-pjax="#main">日本Oricon周榜</a></span><br>
						<small>每周三更新</small>
					</div>
				</div>
			</li>
		</ul>
		<br>
	</div>
	<div class="col-sm-9" style="background-color: white; padding-left:30px; border-left: 1px solid #d3d3d3;">
		<br><br>
		<div class="row">
			<div class="col-sm-3">
				<img src="{{url_for('static', filename='image/toplist/%s.jpg' % id)}}">
			</div>
			<div class="col-sm-9" style="padding-left:5px;">
				<h2>{{ brand }}新歌榜</h2>
				<small>音乐，一生所爱。</small><br><br>
				<button type="submit" class="btn btn-info add-all"><span class="glyphicon glyphicon-play-circle" aria-hidden="true"></span> 播放</button>
				<button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span> 收藏</button>
				<button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-share" aria-hidden="true"></span> 分享</button>
				<button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-comment" aria-hidden="true"></span> 评论</button>
			</div>
		</div>
		<br>
		<h2>歌曲列表</h2>
		<table class="table table-hover">
			<thead>
				<tr>
					<th width="30"></th>
					<th width="15"></th>
					<th>标题</th>
					<th width="80">时长</th>
					<th width="150">歌手</th>
				</tr>
			</thead>
			<tbody>
			{% for song in songs %}
				<tr>
					{% set time = '%02d:%02d' % (song['bMusic']['playTime'] // 60000, (song['bMusic']['playTime'] % 60000) // 1000) %}
					<td>{{ loop.index }}</td>
					<td>
						<a href="javascript:void(0);">
							<span class="glyphicon glyphicon-play-circle add-song" aria-hidden="true"
								song-id={{ song['id'] }}
								song-name={{ song['name'] }}
								song-source={{ song['mp3Url'] }}
								song-img={{ song['album']['picUrl'] }}
								song-time={{ song['bMusic']['playTime'] }}
								song-artist-id={{ song['artists'][0]['id'] }}
								song-artist-name={{ song['artists'][0]['name'] }}>
							</span>
						</a>
					</td>
					<td><a href="/song?id={{ song['id'] }}">{{ song['name'] }}</a></td>
					<td>{{ time }}</td>
					<td><a href="/artist?id={{ song['artists'][0]['id'] }}">{{ song['artists'][0]['name'] }}</a></td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
	</div>
</div>
