body {
    background-color: #eee
}

a {
    color: #d5d5d5;
    font-size: 48px;
    font-family: 'Brush Script MT', cursive;
    text-decoration: none;
}

a:hover {
    color: white;
    text-decoration: none;
}

.navbar {
    background-color:#545652;
}

.navbar-header {
    float: none;
    padding-top: 10px;
    padding-bottom:0px;
}

.container {
    margin-top: 200px;
    width: 300px;
}
